.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

body {
    /*background-color: #222222;*/
    background-color: #f4f4f4;
    margin: -20px 20px 20px 20px;
}

h1 {
    padding: 5px;
    background-color: darkcyan;
    text-align: center;
}



.columns .container {
    /*background-color: #888888;*/
    /*background-color: white;*/
    background-color: #f4f4f4;
    height: 675px;
}

.col-md-4 {
    border-right: 1px solid #f4f4f4;
    height: 675px;
}

h3 {
    color: darkblue;
    text-align: center;
}

div#about {
    width: 300px;
    position: relative;
    left: 37%;
}
p.position {
    color: white;
    margin: auto;
}

.twitter-timeline {
    height: 450px;
}

p {
    text-align: center;
}

p.position {
    background-color: #595959
}

.col-md-4 {
    /*border: 1px solid black;*/
    padding: 10px;
}

td {
    text-align: left;
    color: midnightblue;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    width: 100%;
}

div#rankings {
    padding: 20px;
    /*border-bottom: 1px solid #f4f4f4;*/
}



select {
    text-indent: 21px;
    display: block;
    margin: 0 auto;
}





select.custom-dropdown {
   -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
   -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
   border: 0;

   -webkit-border-radius: 5px;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   padding: 10px;
   width: 130px;
   background: #0d98e8 no-repeat right center;
   background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
   margin-bottom: 20px;

}

option {
    text-align: center;
}

#voting p a {
    /*border: 1px solid black;*/
    font-size: 20px;

}