<!doctype html>
  <html>
    <head>
      <title>Hello</title>
    </head>
    <body>
      <div class=page>
        <h1>ELO Fantasy Football Rankings</h1>
        <div class="nav">
            <div class="container">
               <ul class="pull-left">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="pull-right">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
      </div>
    </body>
</html>