<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/homepage.css">
<link rel="stylesheet" type="text/css" href="/static/matchup.css">
{% extends "layout.html" %}
{% block body %}



    <div class="col-md-4 player1">{{player1}}<div id = "player1pic"></div></div>


    <div class = "col-md-4">






        <p class = "question">Who would <em><b>YOU</b></em> rather start at <em><b>{{pos}}</b></em> in <em><b>Week {{ week }}</b></em> {% if needScoring %}in <b><em>{{ scoring }}</em></b>{% else %}(any scoring format){% endif %}?</p>


        <!-- ADD IN A DROPDOWN FOR WEEK CHOICE -->
        <!-- DEFAULT TO CURRENT WEEK -->
        <!-- ACTUALLY MAYBE LOCK ANY WEEK EXCEPT CURRENT -->
        <!-- WE WILL NEED ONE FOR PPR VS NON THOUGH -->












        <form id = "voteform" method="post" action="{{ url_for('voted') }}">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                <input type="submit" name="value1" value="{{player1.name}}" />
                <input type="hidden" name="Position" value="{{pos}}">
                <input type="hidden" name="player1" value="{{player1}}">
                <input type="hidden" name="player2" value="{{player2}}">
                <input type="hidden" name="all" value="{{all}}">
                <input type="hidden" name="scoring" value="{{scoring}}">
                <input type="hidden" name="needScoring" value="{{needScoring}}">
                <p class = "question"><b>OR</b></p>
                <input type="submit" name="value2" value="{{player2.name}}" />
            </div>
        </form>
    </div>



    <div class="col-md-4 player2">{{player2}}<div id = "player2pic"></div></div>

    <!-- load in jquery, then load in my script, then call a function from that script -->

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='matchupimages.js') }}"></script>
    <script>myFuncOne( "{{player1.url}}" )</script>
    <script>myFuncTwo( "{{player2.url}}" )</script>

{% endblock %}

