<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/homepage.css">
{% extends "layout.html" %}
{% block body %}
<div id= "Rankings">


    <select class="custom-dropdown"t>
        <option value="Standard">Standard</option>
        <option value="PPR">PPR</option>
        <option value="Half">0.5 PPR</option>
    </select>

    <h3>Current Rankings:</h3>
    <table id="QB" class="col-md-2">
        <th>Quarter Backs:</th>
        {% for p in qbs %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                {% if scoring == "standard" %}
                <td class="elo">{{ p.get_week_elo() }}</td>
                {% elif scoring == "ppr" %}
                <td class="elo">{{ p.get_week_elo_ppr() }}</td>
                {% elif scoring == "half" %}
                <td class="elo">{{ p.get_week_elo_half() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <table id="RB" class="col-md-2">
        <th>Running Backs:</th>
        {% for p in rbs %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                {% if scoring == "standard" %}
                <td class="elo">{{ p.get_week_elo() }}</td>
                {% elif scoring == "ppr" %}
                <td class="elo">{{ p.get_week_elo_ppr() }}</td>
                {% elif scoring == "half" %}
                <td class="elo">{{ p.get_week_elo_half() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <table id="WR" class="col-md-2">
        <th>Wide Receivers:</th>
        {% for p in wrs %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                {% if scoring == "standard" %}
                <td class="elo">{{ p.get_week_elo() }}</td>
                {% elif scoring == "ppr" %}
                <td class="elo">{{ p.get_week_elo_ppr() }}</td>
                {% elif scoring == "half" %}
                <td class="elo">{{ p.get_week_elo_half() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <table id="TE" class="col-md-2">
        <th>Tight Ends:</th>
        {% for p in tes %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                {% if scoring == "standard" %}
                <td class="elo">{{ p.get_week_elo() }}</td>
                {% elif scoring == "ppr" %}
                <td class="elo">{{ p.get_week_elo_ppr() }}</td>
                {% elif scoring == "half" %}
                <td class="elo">{{ p.get_week_elo_half() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <table id="Flex" class="col-md-2">
        <th>Flex Players:</th>
        {% for p in flexes %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                {% if scoring == "standard" %}
                <td class="elo">{{ p.get_week_elo_flex() }}</td>
                {% elif scoring == "ppr" %}
                <td class="elo">{{ p.get_week_elo_flex_ppr() }}</td>
                {% elif scoring == "half" %}
                <td class="elo">{{ p.get_week_elo_flex_half() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
<script src="{{ url_for('static', filename='rankingsclick.js') }}"></script>
{% endblock %}