<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/homepage.css">
{% extends "layout.html" %}
{% block body %}
<div id= "Rankings">


    <select class="custom-dropdown"t>
        <option value="Standard">Standard</option>
        <option value="PPR">PPR</option>
        <option value="Half">0.5 PPR</option>
    </select>

    <h3>Current Rankings:</h3>
    <table id="QB" class="col-md-2">
        <th>Quarter Backs:</th>
        {% for qb in qbs %}
            <tr>
                <td><a href = "{{qb.url}}">{{ qb.name }}</a></td>
                <td class="elo">{{ qb.get_week_elo() }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="RB" class="col-md-2">
        <th>Running Backs:</th>
        {% for rb in rbs %}
            <tr>
                <td><a href = "{{rb.url}}">{{ rb.name }}</a></td>
                <td class="elo">{{ rb.get_week_elo() }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="WR" class="col-md-2">
        <th>Wide Receivers:</th>
        {% for wr in wrs %}
            <tr>
                <td><a href = "{{wr.url}}">{{ wr.name }}</a></td>
                <td class="elo">{{ wr.get_week_elo() }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="TE" class="col-md-2">
        <th>Tight Ends:</th>
        {% for te in tes %}
            <tr>
                <td><a href = "{{te.url}}">{{ te.name }}</a></td>
                <td class="elo">{{ te.get_week_elo() }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="Flex" class="col-md-2">
        <th>Flex Players:</th>
        {% for p in flexes %}
            <tr>
                <td><a href = "{{p.url}}">{{ p.name }}</a></td>
                <td class="elo">{{ p.get_week_elo_flex() }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
<script src="{{ url_for('static', filename='rankingsclick.js') }}"></script>
{% endblock %}